<%- include('header', {adresses: adresses}) %>
<main>
 <section id="about-banner"><h1>About</h1></section>
 <section id="about-advantages">
  <h2>How digiforms works?</h2>
  <div class="about-info">
   The digiforms web apps use the best pratices from the experts and official docs, and learn with our community of users to do improvements.
  </div>
  <h2>Why use digiforms?</h2>
  <div class="about-info">
   With digiforms developers can use and improve a specialized tool, and this will make your code and the web best.
  </div>
  <h2>When use digiforms?</h2>
  <div class="about-info">
   Everytime you needs a form with the correct code.
  </div>
  <h2>Why donate?</h2>
  <div class="about-info">
   The digiforms is free and without ads, the only way to digiforms have money to self-improvement is by donations.
  </div>
 </section>
 <section id="home-start">
  <a href="<%=adresses.pages.digiformsApp%>">start now for free</a>
 </section>
</main>
<%-include('footer')%>