<%- include('header', {pageName: pageName, adresses: adresses}) %>
<main>
 <section id="home-banner"><h1>The easy way to create smart forms <img src="img/motivation.png"></h1></section>
 <section id="home-advantages">
  <h2>Advantages</h2>
  <div class="advantages">
   <div class="advantage">
    <div class="title"><img src="img/success.png" /><span>Semantic</span></div>
    <div class="description">With digiforms you can use the best HTML semantic without work.</div>
   </div>
   <div class="advantage">
    <div class="title"><img src="img/success.png" /><span>Regular Expression</span></div>
    <div class="description">With digiforms you can use the more secure and advanced Regular Expressions without work.</div>
   </div>
   <div class="advantage">
    <div class="title"><img src="img/success.png" /><span>Smart Improvement</span></div>
    <div class="description">The digiforms will be improved each day with the data from the created forms.</div>
   </div>
  </div>
 </section>
 <section id="home-start">
  <a href="<%=adresses.pages.digiformsApp%>">start now for free</a>
 </section>
</main>
<%-include('footer')%>
